/* SEÇÃO ABOUT ME (CONTAINER) */
#about-me-section {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  padding: 2rem 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;

  scroll-margin-top: 60px;
}

/* CAIXA DE TEXTO DO ABOUT ME */
.about_me_text_box {
  max-width: 550px;

  display: flex;
  flex-direction: column;

  text-align: justify;
  font-family: var(--font-sn-pro), sans-serif;
  color: #333;
}

.about_me_text_box p {
  color: black;
}

/* CONTAINER DAS TECNOLOGIAS */
.technologies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* CONTAINER DOS ÍCONES */
.technologies_icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* ÍCONE INDIVIDUAL DE TECNOLOGIA */
.technologies_icon {
  position: relative;

  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;

  color: #333;
  transition:
    transform 300ms ease,
    color 300ms ease;
}

/* EFEITO DE HOVER NO ÍCONE */
.technologies_icon:hover {
  transform: translateY(-2px);
  color: #007bff;
}

/* LINHA ANIMADA ABAIXO DO ÍCONE */
.technologies_icon::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 2px;

  width: 100%;
  height: 2px;

  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 300ms ease;
}

/* ATIVA A LINHA NO HOVER */
.technologies_icon:hover::after {
  transform: scaleX(1);
}

/* DIV DE IMAGEM */
.border_animada {
  position: relative;
  width: min(400px, 90vw);
  aspect-ratio: 1 / 1;
  padding: 4px;
  border-radius: 50%;
}

/* ANIMAÇÂO DE BORDA GIRANTE */
.border_animada::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background: conic-gradient(
    from 0deg,
    #007bff,
    transparent 0%,
    #007bff 100%,
    transparent
  );
  animation: girar 4s linear infinite;
}

/* IMAGEM DA DIV COM A BORDA ANIMADA */
.border_animada .about_me_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  background: #000;
  z-index: 1;
}

/* ANIMAÇÃO DE GIRAR*/
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  #about-me-section {
    flex-direction: column-reverse;
    gap: 2rem;

    padding: 2rem 1rem;
    scroll-margin-top: none;
  }

  /* CAIXA DE TEXTO DO ABOUT ME */
  .about_me_text_box {
    width: 95%;
    text-align: justify;
    font-family: var(--font-sn-pro), sans-serif;
    color: #333;
  }

  /* TÍTULO DA BOX ABOUT ME */
  .about_me_title {
    font-size: 2rem;
    align-self: center;
    text-align: center;
  }

  /* PARÁGRAFOS DA BOX SOBRE MIM */
  .about_me_text_box p {
    font-size: 1.2rem;
  }

  /* TÍTULO DO CONTAINER DE TECNOLOGIAS */
  .technologies_title {
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
  }

  /* ÍCONE INDIVIDUAL DE TECNOLOGIA */
  .technologies_icon {
    flex-wrap: wrap;
    position: relative;

    padding: 0.5rem;
    font-size: 2.5rem;
    text-align: justify;
  }

  /* DIV DA IMAGEM C/ BORDA ANIMADA */
  .border_animada {
    width: 85%;
    height: 85%;
  }
}
