/* CONTAINER DAS TECNOLOGIAS */
.tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;

  margin-top: 1rem;
}

/* GRID DAS TECNOLOGIAS */
.tech_grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: wrap;
}

/* BOX DO ÍCONE E TEXTO */
.tech_item {
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* ÍCONE INDIVIDUAL */
.tech_item {
  position: relative;

  padding: .75rem;
  font-size: 2rem;

  color: #333;
  transition:
    transform 300ms ease,
    color 300ms ease;
}

/* NOME */
.tech_name {
  font-size: 0.9rem;
  color: #333;
  font-family: var(--font-sn-pro);
  font-weight: 600;
  text-align: center;
}

/* HOVER */
.tech_item:hover{
  transform: translateY(-2px);
  color: #007bff;
}

/* MUDAR COR DO NOME NO HOVER */
.tech_item:hover .tech_name {
  color: #007bff;
}

/* LINHA */
.tech_item::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 2px;

  width: 100%;
  height: 2px;

  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 300ms ease;
}

.tech_item:hover::after {
  transform: scaleX(1);
}
