/* MAIN */
main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f5f7fa;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.04) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.04) 2px, transparent 2px);
  background-size: 40px 40px;
}

/* CSS DAS SEÇÕES */
.content_section {
  width: 100%;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
