/* COMPONENTE HEADER */
#headerComponent {
  position: sticky; /* se estiver usando */
  top: 0;
  z-index: 1000;
  height: var(--header-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px gainsboro;
  text-transform: uppercase;
  font-family: var(--font-sn-pro);
  user-select: none;
}

/* DIV DO TÍTULO */
.title_text_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

/* TÍTULO */
.header_title {
  font-size: 1.5rem;
  color: #333;
}

/* EMOJI DO TÍTULO */
.fa-face-laugh-beam {
  font-size: 20px;
  color: #333;
}

/* MENU HAMBÚRGUER */
.hamburger {
  display: none;
  border: none;
  font-size: 28px;
  background: none;
  cursor: pointer;
}

/* LISTA DE LINKS */
.navbar_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  list-style: none;
}

/* LINK */
.navbar_link {
  position: relative;
  display: inline-block;

  padding: 0.5rem;

  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-decoration: none;

  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

/* EFEITO AO PASSAR O MOUSE */
.navbar_link:hover,
.navbar_link:focus {
  transform: translateY(-2px);
  color: #007bff;
}

/* LINHA ANIMADA EM BAIXO DO LINK */
.navbar_link::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 4px;

  width: 100%;
  height: 2px;

  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

/* MOSTRA A LINHA QUANDO TIVER O HOVER */
.navbar_link:hover::after,
.navbar_link:focus::after {
  transform: scaleX(1);
}

@media (max-width: 576px) {
  /* DIV DO TÍTULO */
  .title_text_div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  /* TÍTULO DO HEADER */
  .header_title {
    font-size: 1.5rem;
  }

  /* EMOJI DO HEADER */
  .fa-face-laugh-beam {
    font-size: 1rem;
  }

  /* ÍCONE DO HAMBÚRGUER */
  .hamburger {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  /* NAV HAMBRGUER ATIVA */
  .nav {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;

    background: #fff;
    box-shadow: 0px 4px 4px gainsboro;
    border: 1px solid gainsboro;
    border-top: none;

    /* Estado inicial escondido */
    pointer-events: none;
    opacity: 0;

    transition: all 0.2s ease-in-out;
  }

  /* QUANDO A NAV ESTÁ ATIVA */
  .nav.active {
    opacity: 1;
    pointer-events: auto;
  }

  /* LISTA DE LINKS */
  .navbar_list {
    flex-direction: column;
    padding: 1rem 0;
  }

  /* LINK */
  .navbar_link {
    flex-direction: column;
    padding: 0.25rem;
    font-size: 1.2rem;
  }

  /* MOSTRA A LINHA QUANDO TIVER O HOVER */
  .navbar_link:hover::after,
  .navbar_link:focus::after {
    transform: scaleX(0);
  }

  /* REMOVE A ANIMAÇÃO QUANDO CLICA NO BOTÃO NO MOBILE */
  .navbar_link:hover,
  .navbar_link:focus,
  .navbar_link:active {
    transform: none;
    color: #333;
  }
}
