/* BOTÃO DE IR PARA O REPOSITÓRIO */
.goto_repository {
  width: clamp(160px, 40%, 250px);
  margin-top: 1rem;

  align-self: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: black;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 6px gray;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;

  transition: 200ms ease-in-out;
  cursor: pointer;
}

.goto_repository:hover,
.goto_repository:focus {
  transform: translateY(-2px);
  background-color: gainsboro;
  box-shadow: 0px 2px 6px #333;
}

/* CONTAINER DOS BOTÕES */
.load_more_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* BOTÃO DE CARREGAR MAIS PROJETOS */
.load_more_button {
  height: 40px;

  font-family: var(--font-sn-pro);
  font-weight: 500;

  background-color: #fff;
  box-shadow: 0px 2px 6px gray;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

/* BOTÃO PARA RETIRAR PROJETOS CARREGADOS */
.collapse_projects_button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  box-shadow: 0px 2px 6px gray;
  padding: 0.75rem;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;

  transition: 200ms ease-in-out;
  cursor: pointer;
}

/* ANIMAÇÃO DE HOVER DOS BOTÕES */
.collapse_projects_button:hover,
.collapse_projects_button:focus,
.load_more_button:hover,
.load_more_button:focus {
  transform: translateY(-2px);
  background-color: gainsboro;
  box-shadow: 0px 4px 6px #333;
}

/* BOTÃO DESABILITADO */
.load_more_button:disabled,
.collapse_projects_button:disabled {
  cursor: not-allowed;
  transform: none;
}

/* BOTÃO DESABILITADO COM HOVER */
.load_more_button:disabled:hover,
.collapse_projects_button:disabled:hover {
  transform: none;
  box-shadow: 0px 2px 6px gray;
  background-color: #fff;
}
