name: Deploy Application

on:
  push:
    branches:
      # Branch principal
      - master
      # Branch de desenvolvimento
      - development

# Ativando permissões para o actions.
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    # O GitHub cria uma máquina virtual Linux temporária para rodar seu código.
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Baixa o código
      - name: Checkout do código
        uses: actions/checkout@v4

      # 2️⃣ Instala Node
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      # 3️⃣ Instala dependências
      - name: Instalar dependências
        run: npm ci

      # 4️⃣ Build do Vite
      - name: Rodar build
        run: npm run build

      # 5️⃣ Upload da pasta dist
      - name: Upload do artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

      # 6️⃣ Deploy no GitHub Pages
      - name: Deploy para GitHub Pages
        uses: actions/deploy-pages@v4
